.page {
  padding: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.page .register__form {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}
.page .register__form .section__title {
  color: #474747;
  margin-bottom: 14px;
}
.page .register__form .section__title:not(:first-of-type) {
  margin-top: 40px;
}
.page .register__form .upload__input {
  display: none;
}
.page .register__form .upload__file {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 39px;
  background-color: #26C0FF;
  color: #FFF;
  margin: 0 auto 70px;
  cursor: pointer;
  position: relative;
}
.page .register__form .upload__file .user__image {
  position: absolute;
  top: 3px;
  left: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .register__form .upload__file.uploaded svg {
  position: absolute;
  top: 14px;
  right: -10px;
  font-size: 23px;
  color: #FFF;
  background: #26C0FF;
  padding: 4px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.page .register__form .label__text {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 600;
  color: #474747;
}
.page .register__form .user__name__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px 20px;
  margin-bottom: 36px;
}
.page .register__form .radio__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: rgba(38, 192, 255, 0.0784313725);
  font-weight: 600;
  margin: 36px 0;
  position: relative;
}
.page .register__form .radio__box.invalid {
  background-color: rgba(233, 33, 33, 0.0784313725);
}
.page .register__form .radio__box .gender__labels {
  display: flex;
  align-items: center;
  gap: 40px;
}
.page .register__form .radio__box .gender__labels > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.page .register__form .radio__box .gender__labels > div input,
.page .register__form .radio__box .gender__labels > div label {
  cursor: pointer;
}
.page .register__form .checkbox {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 10px;
  margin-top: 14px;
}
.page .register__form .checkbox input, .page .register__form .checkbox label {
  cursor: pointer;
}
.page .register__form .submit__btn {
  display: flex;
  width: 100%;
  margin: 40px auto 24px;
}
.page .register__form .submit__btn > button {
  width: 100%;
}
.page .register__form .date__box {
  height: 64px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  box-sizing: inherit;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  position: relative;
  display: block;
  cursor: pointer;
  padding: 0 22px;
}
.page .register__form .date__box.placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}
.page .register__form .date__box.invalid {
  border-color: #E92121;
  color: #E92121;
}
.page .register__form .date__box.invalid > div input::-moz-placeholder {
  color: #E92121;
  opacity: 1;
}
.page .register__form .date__box.invalid > div input::placeholder {
  color: #E92121;
  opacity: 1;
}
.page .register__form .date__box > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 22px;
  padding-left: 20px;
}
.page .register__form .date__box > div > div:first-of-type,
.page .register__form .date__box > div input {
  height: 100%;
  width: 100%;
}
.page .register__form .date__box > div > div:first-of-type::-moz-placeholder, .page .register__form .date__box > div input::-moz-placeholder {
  color: #000000;
  opacity: 0.3;
  font-size: 16px;
  text-transform: capitalize;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.page .register__form .date__box > div > div:first-of-type::placeholder,
.page .register__form .date__box > div input::placeholder {
  color: #000000;
  opacity: 0.3;
  font-size: 16px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}
.page .register__form .date__box .date__input__label {
  color: #474747;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  opacity: 0;
  scale: 0;
  transition: 0.3s ease-in-out;
}
.page .register__form .date__box .date__input__label.focus {
  opacity: 1;
  scale: 1;
  font-size: 14px;
  top: 0;
  background: #FFF;
  z-index: 1;
  padding: 0 5px;
  right: 19px;
  color: #26C0FF;
  font-weight: 600;
}
.page .register__btn {
  margin-top: 40px;
  text-align: center;
  color: #9A9A9A;
}
.page .register__btn a {
  font-weight: 600;
  color: #26C0FF;
}
.page .map__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 40px;
}
.page .map__container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.page .map__container .close__btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  color: #000;
  font-size: 27px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #000;
  color: #FFF;
}
.page .map__container .back__marker__btn,
.page .map__container .back__btn__location {
  position: absolute;
  z-index: 10000000;
  color: #000;
  right: 11px;
  bottom: 20px;
  background: #FFF;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  font-size: 20px;
  background-color: #000;
  color: #FFF;
}
.page .map__container .back__marker__btn {
  bottom: 70px;
}
.page .map__container .search__box {
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  background-color: #FFF;
  width: 500px;
  border-radius: 10px;
}
.page .map__container .confirm {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #26C0FF;
  color: #FFF;
  width: 100px;
  text-align: center;
  padding: 3px 20px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
}
.page .map__container .map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page .map__container .latLngBox {
  position: absolute;
  bottom: 77px;
  left: 50%;
  transform: translateX(-50%);
  background: #FFF;
  min-width: 250px;
  text-align: left;
  padding: 4px 20px;
  border-radius: 4px;
  color: #696767;
}
.page .map__button {
  height: 64px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  padding-right: 22px;
  padding-left: 20px;
  box-sizing: inherit;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
  position: relative;
}
.page .map__button .label {
  color: #474747;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  opacity: 0;
  scale: 0;
  transition: 0.3s ease-in-out;
}
.page .map__button.active .label {
  opacity: 1;
  scale: 1;
  font-size: 14px;
  top: 0;
  background: #FFF;
  z-index: 1;
  padding: 0 5px;
  right: 19px;
  color: #26C0FF;
  font-weight: 600;
}

@media (max-width: 575px) {
  .page {
    padding: 40px 14px;
  }
  .page .register__form .user__name__inputs {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.calendar__container {
  position: relative;
}/*# sourceMappingURL=.module.css.map */