.box {
    min-height: 87px;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #26C0FF;
    position: relative;
    .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
}
.category__btns {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 8px; 
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    > button {
        // &:first-of-type {
        //     color: $main__blue__color;
        // }
        // color: red;
        width: 32px;
        height: 32px;
        background-color: #FFF;
        border-radius: 50%;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
}