@import '../../../../styles/variables.scss';

.form__content {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    .type__file {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 24px;
        .options {
            display: flex;
            align-items: center;
            gap: 16px;
            .btn {
                display: flex;
                align-items: center;
                gap: 6px;
                padding: 4px 12px;
                border-radius: 4px;
                color: $main__blue__color;
                border: 1px solid $main__blue__color;
                font-weight: 600;
                font-size: 14px;
                transition: .3s ease-in-out;
                &.active {
                    color: #FFF;
                    background-color: $main__blue__color;
                }
            }
        }
    }
}