// colors:=
$main__blue__color: #26C0FF;
$white__color: #FFF;
$black__color: #000000;
$gray__text__color: #828282;
$gray__light__text__color: #9A9A9A;
$gray__dark__text__color: #474747;
$error__color: #E92121;

// fonts size:=
$ft__14: 14px;
$ft__16: 16px;
$ft__18: 18px;
$ft__20: 20px;
$ft__22: 22px;
$ft__24: 24px;
$ft__26: 26px;
$ft__28: 28px;
