@import '../../styles/variables.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // padding: 20px 0;
    height: 75px;
    margin-bottom: 20px;
    .back__btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: $main__blue__color;
        font-size: 24px;
        display: flex;
        align-items: center;
    }
}