.image__container {
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: block;
        margin: 0 auto 20px;
    }
}
.details__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
    .info__details {
        display: flex;
        align-items: center;
        flex-basis: calc(50% - 12px);
        flex-wrap: wrap;
        gap: 10px;
        padding-bottom: 20px;
        .label {
            color: #9A9A9A;
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}