.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 24px;
    margin-top: 20px;
    .box {
        min-height: 87px;
        border-radius: 8px;
        color: #FFF;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #26C0FF;
    }
}